@import "bootstrap_configuration";

#event-index {
  .timeline {
    list-style: none;
    padding: 0;
    position: relative;
    &:before {
      top: 10px;
      bottom: 0;
      position: absolute;
      content: "";
      width: 2px;
      background-color: $gray-lighter;
      left: 40px;
      margin-left: -1.5px;
    }
    > li {
      position: relative;
      min-height: 50px;
      &:before {
        content: " ";
        display: table;
      }
      &:after {
        content: " ";
        display: table;
        clear: both;
      }
      .timeline-panel {
        width: 100%;
        float: right;
        padding: 0 20px 0 100px;
        position: relative;
        text-align: left;
        &:before {
          border-left-width: 0;
          border-right-width: 15px;
          left: -15px;
          right: auto;
        }
        &:after {
          border-left-width: 0;
          border-right-width: 14px;
          left: -14px;
          right: auto;
        }
      }
      .timeline-node {
        margin: 10px 0 0 25px;
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: 100;
        background-color: $body-bg;
        color: $body-bg;
        border-radius: 100%;
        border: 2px solid $gray-lighter;
        text-align: center;
      }
      &.timeline-inverted > .timeline-panel {
        float: right;
        text-align: left;
        padding: 0 20px 0 100px;
        &:before {
          border-left-width: 0;
          border-right-width: 15px;
          left: -15px;
          right: auto;
        }
        &:after {
          border-left-width: 0;
          border-right-width: 14px;
          left: -14px;
          right: auto;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    .timeline-heading h4 {
      margin-top: 0;
      color: inherit;
      &.subheading {
        text-transform: none;
      }
    }
    .timeline-body > {
      p, ul {
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: 768px) {
    .timeline {
      &:before {
        left: 50%;
      }
      > li {
        min-height: 100px;
        .timeline-panel {
          width: 41%;
          float: left;
          padding: 0 20px 20px 30px;
          text-align: right;
          border: 2px solid $gray-lighter;
          &:after, &:before {
            left: 100%;
            top: 15%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
          }
          &:after {
            border-color: rgba(136, 183, 213, 0);
            border-left-color: $body-bg;
            border-width: 10px;
            margin-top: -10px;
          }
          &:before {
            border-color: rgba(194, 225, 245, 0);
            border-left-color: $gray-lighter;
            border-width: 13px;
            margin-top: -13px;
          }
        }
        .timeline-node {
          left: 50%;
          margin-left: -16px;
        }
        &.timeline-inverted > .timeline-panel {
          float: right;
          text-align: left;
          padding: 0 30px 20px 20px;
          &:after, &:before {
           top: 15%;
           border: solid transparent;
           content: " ";
           height: 0;
           width: 0;
           position: absolute;
           pointer-events: none;
         }
         &:after {
           left: -22px;
           border-color: rgba(136, 183, 213, 0);
           border-right-color: $body-bg;
           border-width: 11px;
           margin-top: -11px;
         }
         &:before {
           left: -27px;
           border-color: rgba(194, 225, 245, 0);
           border-right-color: $gray-lighter;
           border-width: 13px;
           margin-top: -13px;
         }
        }
      }
    }
  }

  @media (min-width: 992px) {
    .timeline > li {
      min-height: 140px;
      .timeline-panel {
        padding: 20px 20px;
      }
      &.timeline-inverted > .timeline-panel {
        padding: 20px 20px;
      }
    }
  }

  @media (min-width: 1200px) {
    .timeline > li {
      .timeline-panel {
        padding: 20px 20px;
      }
      &.timeline-inverted > .timeline-panel {
        padding: 20px 20px;
      }
    }
  }
}
