%section#code-of-conduct
  .container
    .row
      .col-sm-6
        .h3 CODE OF CONDUCT
        %p.lead KRUG meetings follow code of .... lorem iipsum dolor sit amet lorem iipsum dolor sit amet'"
      .col-sm-6
        =image_tag 'http://placekitten.com/120/120', class: 'img-responsive center-block'
