%section#code-of-conduct
  .container
    .row.vertical-align
      .col-sm-6
        %h2.section-heading CODE OF CONDUCT
        %p.lead You think water moves fast? You should see ice. It moves like it has a mind. Like it knows it killed the world once and got a taste for murder. After the avalanche, it took us a week to climb out.
      .col-sm-6
        .button-image.center-block
          = link_to 'READ MORE', 'http://berlincodeofconduct.org/', class: 'btn btn-primary center-block'
