%section#code-of-conduct
  .container
    .row.vertical-align
      .col-sm-6
        %h2.section-heading CODE OF CONDUCT

        %p
          %ul.lead
            %li
              Follow MINASWAN (Matz is Nice And So We Are Nice).
            %li
              Refrain from aggressive or intrusive HR practices.
            %li
              Alert community leaders, if you notice a dangerous situation or any violations of the following Code of Conduct.
            %li
              For details, go to Berlin Code of Conduct (http://berlincodeofconduct.org/).

      .col-sm-6
        .button-image.center-block
          = link_to 'READ MORE', 'http://berlincodeofconduct.org/', class: 'btn btn-primary center-block'
