%section#contact
  .container
    .row.vertical-align
      .col-sm-6
        %h2.section-heading CONTACT
        %p.lead The lysine contingency - it's intended to prevent the spread of the animals is case they ever got off the island. Dr. Wu inserted a gene that makes a single faulty enzyme in protein metabolism.
      .col-sm-6
        = render partial: 'elements/social'
