%nav.navbar.navbar-default{:role => "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-target" => "#navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to "KRUG", defined?(root_path) ? root_path : "#", class: "navbar-brand"
    = link_to "Events", events_path, class: "navbar-brand"
