%section#next_meeting
  .container
    .row
      .col-sm-6
        .h3 NEXT MEETING
        %p.lead= "#{@next_meeting.time.strftime('%d.%m.%Y')} @ #{@next_meeting.venue}"
        %p.lead= @next_meeting.name
      .col-sm-6
        =link_to 'READ MORE', event_path(@next_meeting), class: 'btn btn-default'
        =link_to 'MEETUP LINK', @next_meeting.link
