%section#sponsors
  .container
    .row
      .col-lg-12.text-left
        %h2.section-heading SPONSORS
      .row
        .sponsors-list
          - @sponsors.each do |sponsor|
            .col-xs-12.col-sm-6.col-md-3.offer-card.grow
              .logo.col-xs-12
                = link_to sponsor.url, target: '_blank' do
                  = image_tag sponsor.logo.thumb.url, class: 'center-block'
          .col-xs-12.col-sm-6.col-md-3.offer-card.grow
            .sponsor-us.logo.col-xs-12
              = link_to 'SPONSOR US', for_sponsors_path, class: 'btn btn-primary'


  -#
  -# .container
  -#   .row
  -#     .sponsor-list
  -#       - @offers.each_with_index do |offer, index|
  -#         .col-xs-12.col-sm-6.col-md-4.offer-card.grow
  -#           .logo.col-xs-12
  -#             = image_tag offer.sponsor.logo.thumb.url, class: 'img-responsive center-block'
  -#
  -#           .text-center
  -#             %h4.section-heading=offer.title.upcase
  -#             %h5= link_to 'read more', offer_path(offer)
  -#
  -#       .col-xs-12.col-sm-6.col-md-4.offer-card.grow
  -#         .logo.col-xs-12
  -#           %h2.section-heading.krug-red YOUR COMPANY HERE?
  -#         .text-center
  -#           %h4.section-heading.krug-red BECOME OUR SPONSOR
  -#           %h5= link_to 'read more', for_sponsors_path
