%section#sponsors
  .container
    .row
      .col-lg-12.text-left
        %h2.section-heading SPONSORS
      .row
        .sponsors-list
          - @sponsors.each do |sponsor|
            .col-xs-12.col-sm-6.col-md-3.offer-card.grow
              .logo.col-xs-12
                = link_to sponsor.url, target: '_blank' do
                  = image_tag sponsor.logo.thumb.url, class: 'center-block'
          .col-xs-12.col-sm-6.col-md-3.offer-card.grow
            .sponsor-us.logo.col-xs-12
              = link_to 'SPONSOR US', for_sponsors_path, class: 'btn btn-primary'
