@import "bootstrap_configuration";

#contact {
  .social-list {
    .social-icon {
      display: inline-block;
      position: relative;
      width: 40px;
      vertical-align: middle;
      overflow: hidden;
    }
  }

  @media (min-width: 768px) {
    .social-list {
      .social-icon {
        width: 66px;
      }
    }
  }
}
