@import "bootstrap_configuration";

header {
  background: image-url('ruby.svg') right top no-repeat,
              image-url('ruby.svg') left top no-repeat;
  background-attachment: fixed;


  .lead, .navbar {
    margin-bottom: 0px;
    font-family: 'ADAM-CGPRO';
  }
  .logo {
    width: 280px;
  }
  .social-list {
    text-align: center;
    .social-icon{
      display: inline-block;
      position: relative;
      width: 40px;
      vertical-align: middle;
      overflow: hidden;
    }
  }

  @media (min-width: 768px) {
    .navbar-nav > li > a {
      padding-top: 35px;
      padding-bottom: 20px;
    }
  }
}
