@import "bootstrap_configuration";

header {
  .lead, .navbar {
    margin-bottom: 0px;
  }
  .logo {
    width: 280px;
  }
  .social-list {
    text-align: center;
    .social-icon{
      display: inline-block;
      position: relative;
      width: 40px;
      vertical-align: middle;
      overflow: hidden;
    }
  }
}
