@import "bootstrap_configuration";
@mixin rotate($angle) {
  -ms-transform: rotate($angle); /* IE 9 */
  -webkit-transform: rotate($angle); /* Chrome, Safari, Opera */
  transform: rotate($angle);
  position: absolute;
}
header {
  #rubins {
    display: none;
    z-index: 2;
    position: absolute;
    width: 100%;
    .layer-1 {
      .rb1 { @include rotate(15deg); height: 79px;top: 18px;left: 3px;}
      .rb2 { @include rotate(-20deg); height: 52px;right: 39px;top: 35px;}
      .rb3 { @include rotate(228deg); height: 18px;right: 46px;top: 145px;}
      .rb4 { @include rotate(-204deg); height: 18px; left: 9px;top: 173px;}
    }
    .layer-2 {
      .rb1 { @include rotate(-20deg); height: 10px;right: 28px;top: 184px;}
      .rb2 { @include rotate(31deg);  height: 25px;right: 26px;top: 107px;}
      .rb3 { @include rotate(-30deg); height: 35px;left: 45px;top: 139px}
      .rb4 { @include rotate(-60deg); height: 14px;left: 138px;top: 22px;}

    }
    .layer-3 {
      .rb1 { @include rotate(-4deg); height: 8px;right: 21px;top: 13px;}
      .rb2 { @include rotate(212deg); height: 16px;left: 80px;top: 91px;}
    }
  }

  .lead, .navbar {
    margin-bottom: 0px;
    font-family: 'ADAM-CGPRO';
  }
  .logo {
    width: 280px;
  }
  .social-list {
    text-align: center;
    .social-icon{
      display: inline-block;
      position: relative;
      width: 40px;
      vertical-align: middle;
      overflow: hidden;
    }
  }

  @media (min-width: 768px) {
    #rubins { display: block; }
    .navbar-nav > li > a {
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
      padding-top: 35px;
      padding-bottom: 20px;
    }
  }
}
