@import "bootstrap_configuration";

#newest_meeting {
  color: $invert-text-color;
  background-image: image-url('bg_nextmeet.png');
  background-size: cover;
  .button-image{
    background: image-url('bt_nextmeet.svg') no-repeat center center;
    margin-top: -15px;
    height: 230px;
    width: 173px;
    .btn{
      position: relative;
      top: 140px;
    }
  }
  .meetup-link {
    color: $invert-text-color;
    font-size: 1.15em;
    text-decoration: underline;
    top: 140px;
    position: relative;
    &:hover, &:focus, &:active {
      color: $krug-green-darker;
    }
  }
}
