%section#event-index
  .container
    .row
      .col-lg-12
        %ul.timeline
          - @events.each_with_index do |event, index|
            %li{ class: ('timeline-inverted' if index.even?) }
              .timeline-node
              .timeline-panel
                .timeline-heading
                  %h4= event.time.strftime('%d.%m.%Y, %I:%M %p')
                  %h4.subheading= event.name
                .timeline-body
                  %h4= link_to 'read more & downloads', event_path(event)

    .row
      .col-xs-offset-1.col-xs-10.col-sm-offset-4.col-sm-4
        = paginate @events
