@import "bootstrap_configuration";

#homepage {
  .sponsors-list {
    margin-top: 35px;
    li {
      height: 70px;
      padding: 5px 5px;
    }
    .sponsor-us {
      margin-left: 60px;
    }

    .logo {
      display:table-cell;
      vertical-align:middle;
      float:none;
      max-height: 50px;
    }

  }


  @media (min-width: 768px) {
    .row {
      margin-top: 50px;
    }
  }
}
