@import "bootstrap_configuration";

.ico_fb2 {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Warstwa_1' xmlns='http://www.w3.org/2000/svg' width='82' height='82' viewBox='0 0 82 82'%3E%3Cstyle%3E.st0{fill:%23F0583E;}%3C/style%3E%3Cpath class='st0' d='M41 1C18.9 1 1 18.9 1 41s17.9 40 40 40 40-17.9 40-40S63.1 1 41 1zm11.5 21.6c-1.6-.4-3.1-.6-4.6-.6-1.5 0-2.4.3-3 1-.6.7-.9 2-.9 3.9v2.7h8v8h-8v30H34v-30h-5v-8h5v-2.8c0-3.2.2-5.6.9-7.2.7-1.6 1.9-2.9 3.7-3.9 1.8-1 4.1-1.5 6.9-1.5 2.9 0 5.7.4 8.4 1.3l-1.4 7.1z'/%3E%3C/svg%3E");
}
#homepage {
  #sponsors {
    .sponsors-list {
      margin: 35px 0  ;
      .logo {
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center
      }
    }
    .sponsor-us {
      margin-bottom: 50px;
    }
  }

  @media (min-width: 768px) {
    .row {
      margin-top: 50px;
    }
  }
}
