%section#homepage
  .container
    .row
      .col-sm-6.col-md-4
        =image_tag 'ilu_attendees.svg', class: 'img-responsive center-block'
        .caption
          %h3 Rules for attendees

      .col-sm-6.col-md-4
        =image_tag 'ilu_lecturers.svg', class: 'img-responsive center-block'
        .caption
          %h3 Rules and resources for lecturers

      .col-sm-6.col-md-4
        =image_tag 'ilu_sponsoring.svg', class: 'img-responsive center-block'
        .caption
          %h3 Sponsoring rules
    .row
      %h2 ORGANIZERS
    .row
      %h2 SPONSORS
