%section#offer-index
  .container
    .row
      - @offers.each_with_index do |offer, index|
        .col-xs-12.col-md-4
          = link_to offer_path(offer), class: 'grow center-block' do
            = image_tag offer.sponsor.logo.thumb.url, class: 'img-responsive center-block'
            .caption.text-center
              %h3=offer.title
