%section#offer-index
  .container
    .row
      .offer-list
        - @offers.each_with_index do |offer|
          .col-xs-12.col-sm-6.col-md-4.offer-card.grow
            = link_to offer_path(offer) do
              .logo.col-xs-12
                = image_tag offer.sponsor.logo.thumb.url, class: 'img-responsive center-block'

              .text-center
                %h4.section-heading= offer.title.upcase

        .col-xs-12.col-sm-6.col-md-4.offer-card.grow
          = link_to for_sponsors_path do
            .logo.col-xs-12
              %h2.section-heading.krug-red YOUR COMPANY HERE?
            .text-center
              %h4.section-heading.krug-red BECOME OUR SPONSOR
