%section#offer-index
  .container
    .row
      .col-lg-12
        %ul.timeline
          - @sponsors.each_with_index do |sponsor, index|
            %li
              %h4.subheading= sponsor.name
              - sponsor.offers.each do |offer|
                %h4= link_to offer.title, offer_path(offer)

    .row
      .col-xs-offset-1.col-xs-10.col-sm-offset-4.col-sm-4
