//= require activeadmin_addons/all
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
@import "bootstrap_configuration";

$upcoming-color: $krug-green;
$past-color: $krug-red-darker;
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootsy";

.status_tag {
  &.upcoming { background: $upcoming-color; }
  &.past { background: $past-color; }
}

.bootsy_text_area {
  height: 500px;
}
