@import 'bootstrap_configuration';
@import 'bootstrap-sprockets';
@import 'bootstrap';


@media (min-width: 768px) {
  .grow-rotate {
    display: inline-block;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    transition-duration: 0.4s;
    transition-property: transform;
    &:hover, &:focus, &:active {
      transform: scale(1.05) rotate(5deg);
    }
  }

  .grow {
    display: inline-block;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    transition-duration: 0.4s;
    transition-property: transform;
    &:hover, &:focus, &:active {
      transform: scale(1.05);
    }
  }
}
