/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require bootsy
*= require_tree .
*= stub active_admin

*= require_self
*/
@import 'bootstrap_configuration';
@import 'bootstrap-sprockets';
@import 'bootstrap';

section {
  padding: 15px 0;
}
.vertical-align {
  display: flex;
  align-items: center;
}
.navbar-nav {
  width: 100%;
  text-align: center;
  > li {
    float: none;
    display: inline-block;
  }
}

.section-heading {
  font-family: 'ADAM-CGPRO';
}

/*Buttons*/

.btn {
  font-family: 'ADAM-CGPRO';
  padding: 14px 24px;
  border: 3px solid $krug-red;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 15px;
  &:focus, &:active:focus, &.active:focus {
    outline: 0 none;
  }
}

.btn-primary {
  background: #fff;
  color: $krug-red;
  font-size: 1.3em;
  padding: 5px 20px;
  &:hover, &:focus, &:active, &.active {
    background: #fff;
    color: $krug-green-dark;
    border: 3px solid $krug-green-dark;
    box-shadow: none;
  }
}

.open > .dropdown-toggle.btn-primary {
  background: #fff;
}
